{{ define "main" }}
<article>
  {{ if .Title}}
    {{- with $.Params.images -}}
      <figure class="cover-image">
        <img
          src="{{ index . 0 | absURL }}"
          alt="Post cover image"
          loading="lazy">
      </figure>
    {{ end -}}
  {{ end }}
  <div class="h-entry post post-content">
    <header>
    {{ with .Title }}
      <h1 class="p-name post-title">{{ . }}</h1>
    {{ else }}
      <h2 class="headline p-name post-title">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
          <span class="dates">{{ .Date.Format "Jan 2, 2006" }}</span>
        </time>
      </h2>
      {{ end }}
    </header>
    <section class="e-content post-body">
        {{ .Content }}
    </section>
    {{ if .Title }}
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">→ {{ .Date.Format "3:04 PM, Jan 2" }}</time>
    </div>
    {{ end }}
  </div>
</article>

  {{ if .Site.Params.include_conversation }}
  <section class="conversation">
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  </section>
  {{ end }}
{{ end }}