<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="wrapper">
      {{ partial "header.html" . }}
      <div class="home">
        <main class="page">
          {{ block "main" . }}{{ end }}
        </main>
        <div class="side">
          {{ partial "bio.html" . }}
          {{ partial "sidenav.html" . }}
          {{ partial "subscribe-block.html" . }}
        </div>
      </div>
    </div>
    {{ range .Site.Params.plugins_js }}
			<script src="{{ . }}"></script>
		{{ end }}
  </body>
</html>