{{ define "main" }}
<section class="post-content">
  {{- with $.Params.images -}}
    {{ if .Title }}
    <figure class="cover-image">
      <img
        src="{{ index . 0 | absURL }}"
        alt="Post cover image for {{ .Title }}"
        loading="lazy">
    </figure>
    {{ end }}
  {{ end -}}
  <article class="h-entry post">
    <header>
      <h1 class="p-name page-title">{{ .Title }}</h1>
    </header>
    <section class="e-content post-body">
        {{ .Content }}
    </section>
  </article>
</section>
{{ end }}