{{ define "main" }}
<section class="post-content">
  {{- with $.Params.images -}}
    {{ with .Title }}
  <figure class="cover-image">
    <img
      src="{{ index . 0 | absURL }}"
      alt="Post cover image"
      loading="lazy">
  </figure>
  {{ end -}}
  <article class="h-entry post">
    <header>
      <h1 class="p-name page-title">{{ .Title }}</h1>
    </header>
    <section class="e-content post-body">
        {{ .Content }}
    </section>
  </article>
  <section id="post-meta">
    <a href="/">
      <img class="u-photo avatar" src="{{ .Site.Author.avatar }}" width="96" height="96">
      <div>
        <span class="p-author h-card dark">{{ .Site.Author.name }}</span>
        <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
      </div>
    </a>
  </section>
</section>
{{ end }}