<section class="post-content">
  {{ if .Title }}
  {{ $first_image := index (.Page.Resources.Match "*.jpg") 0 }}
  {{ if $first_image }}
  <a class="cover-link" href="{{ .Permalink }}">
    <figure class="cover-image">
      <img class="cover-image" src="{{ $first_image.RelPermalink }}" />
    </figure>
  </a>
  {{ end }}
  <article class="mb-5">
    <header>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
    </header>
    {{ .Content }}
  {{ else }}
  <article class="mb-5">
  {{ .Content }}
  {{ end }}
    <div class="post-meta">
      <a href="{{ .Permalink }}" class="u-url">
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">→ {{ .Date.Format "3:04 PM, Jan 2" }}</time>
      </a>
      <a class="read-more" href="{{ .Permalink }}">Continue reading →</a>
    </div>
  </article>
</section>