<article>
  {{ if .Title }}
  <a class="cover-link" href="{{ .Permalink }}">
    {{- with $.Params.images -}}
      <figure class="cover-image">
        <img
          src="{{ index . 0 | absURL }}"
          alt="Post cover image"
          loading="lazy">
      </figure>
    {{ end -}}
  </a>
  <div class="post-content">
    <header>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
    </header>
    {{ .Content }}
  {{ else }}
  <div class="post-content">
  {{ .Content }}
  {{ end }}
    <div class="post-meta">
      <a href="{{ .Permalink }}" class="u-url">
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">→ {{ .Date.Format "3:04 PM, Jan 2" }}</time>
      </a>
    </div>
  </div>
</article>
