<div class="side-subscribe-block">
  <p>Subscribe to the email newsletter for this blog. Newsletter goes out once a month and contains long form posts only. I hope you’ll subscribe:</p>

  <form class="subscribe-form" method="POST" action="https://micro.blog/users/subscribe/65934">
    <input type="text" name="email" size="30" placeholder="Your email address" />
    <input type="submit" value="Subscribe" />
  </form>

  <p class="subscribe-promise">Unsubscribe anytime. I promise to respect your inbox and privacy.</p>
</div>